.normal {
    border-style: solid;
    border-color: red;
    padding: 5px;
}

.round {
    border-style: solid;
    border-color: red;
    padding: 5px;
}

.rounder {
    border-style: solid;
    border-color: red;
    padding: 5px;
}

.roundest {
    border-style: solid;
    border-color: red;
    padding: 5px;
    margin-bottom: 30px;
}

.span1 {
    border-style: solid;
    border-color: blue;
    padding: 15px;
    border-radius: 20px ;
}

.span2 {
    border-style: solid;
    border-color: blue;
    padding: 15px;
    border-radius: 20px;
}