h1 {
    background-color: blue;
    color: white;
    font-size: 2em;
}

div h1 {
    font-size: 1em;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Sólo las etiquetas h2 que estén dentro de un div tendrán esta regla*/
div h2 {
    background-color: crimson;
}

/*Sólo las etiquetas p con la clase "fondo-p" tendrán esta regla*/
p.fondo-p {
    background-color: black;
    color: white;
}

#h1Clase4 {
    background-color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

.h1Otro {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
}

/*Color hexadecimal*/
div h2 {
    background-color: #ff0000ff;
}

/*Color RGBA*/
h2.segundoh2 {
    background-color: rgba(0, 255, 0, 0.5);
}

/*Color hsl (No se usa casi nunca)*/
h2.segundoh2 {
    background-color: hsla(240, 100%, 50%, 1);
}