h1 {
    background-color: blue;
    color: white;
    font-size: 2em;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p.fondo-p {
    background-color: black;
    color: white;
}

#h1Clase4 {
    background-color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

.h1Otro {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
}